.progress{
    position: relative;
    width: 500px;
    height: 30px;
    background-color: azure;
    margin: 10px;
}
.progress span {
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    background-color: red;
    transition: width 0.3s linear;
}