* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.conteiner {
  max-width: 1680px;
  width: 80%;
  margin: auto;
}

.slide-img-info {
  width: 100%;
  height: 700px;

  object-fit: cover;
  border-radius: 30px;
}
.slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  display: none;
  opacity: 0;
  visibility: hidden;
  width: 0;
  transform: scale(0);
  transition: all 0.6s;
}

.slide.active {
  display: block;
  width: 100%;
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.hi-info {
  position: absolute;
  right: 15%;
  bottom: 40%;
}
.social-img {
  width: 29px;
  height: 29px;
  object-fit: cover;
  margin-right: 5%;

  margin-top: 7%;
}
.roca-logo {
  display: flex;
  position: absolute;
  top: 5%;
  flex-direction: column;
  margin-left: 4%;
}
.roca-p {
  font-size: 40px;
}
.resume-tem {
  font-size: 13px;
  color: #b3b3b3;
}
.about-me {
  position: absolute;
  right: 10%;
  top: 4%;
}
.span-01 {
  position: relative;
  font-size: 157px;
}
.me {
  position: absolute;
  font-size: 43px;
  top: 20%;
  right: 5%;
}
.Satisfied-Clients {
  position: absolute;
  right: 3%;
  bottom: 5%;
}

.satisfied-p {
  font-size: 24px;
}
.span-100 {
  color: #e93656;
  font-size: 24px;
}
.red-color {
  border-bottom: 5px solid #e93656;
}

/* section 2 */
.second {
  margin-bottom: 8%;
  margin-top: 8%;
}
.item2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.my-infoo {
  width: 334px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.my-img {
  width: 430px;
  height: 603px;
  object-fit: cover;
}
.my-infoo-h2 {
  font-size: 40px;
  font-weight: bold;
}
.my-infoo-h5 {
  font-size: 14px;
  color: #daae19;
  margin-bottom: 33px;
}
.my-infoo-p {
  font-size: 15px;
}
.hire-me {
  background-color: #e93656;
  padding: 15px 43px;
  margin-top: 60px;
  cursor: pointer;
}
.progress {
  position: relative;
  width: 300px;
  height: 9px;
  background-color: #f0f0f0;
  margin: 10px;
}
.progress-span {
  position: absolute;

  left: 0;
  top: 0;
  height: 100%;
  background-color: #e93656;
  transition: width 0.3s linear;
}
.phone-info {
  display: flex;
  align-items: center;
}
.my-address-info {
  background-color: #131a36;
  height: 210px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.phone-img {
  color: #ffffff;
  margin: 30px;
  border: 4px dashed #ffffff;
  padding: 30px;
  border-radius: 50%;
  width: 100px;
}

.phone-img:hover {
  background-color: #e93656;
  border: none;
}
.phone-num {
  color: #ffffff;
  font-size: 25px;
  margin-bottom: 4%;
}
.phone-adres {
  color: #ffffff;
  font-size: 14px;
}

/* 3sectionnnnnn */

.sect-all-img {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2%;
  margin-bottom: 10%;
}

.sect-img {
  width: 285px;
  height: 360px;
  background-color: #fafafa;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sect-img-info {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.hover-p {
  width: 285px;
  height: 360px;
  background-color: #15263e;
  position: absolute;
  display: none;
  font-size: 14px;
  color: #f0f0f0;
}
.sect-img-flex {
  width: 285px;
  height: 360px;
  object-fit: cover;
  background-color: #fafafa;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.sect-img-flex:hover .hover-p {
  background-color: #131a36;
  /*width: 285px;
  height: 360px;*/
  transition-property: all;
  transition-duration: 2s;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.hover-p-h3 {
  font-size: 22px;
  font-family: "Glacial Indifference";
  margin-bottom: 8%;
}
.hover-p-p {
  font-size: 14px;
  font-family: "Muli";
}

/* 5sectiaon */

.recommendation {
  background-image: url(../images/drive-download-20221201T090844Z-001/clip.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 570px;
  width: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10%;
}

.recomen-div-p {
  max-width: 497px;
  width: 100%;
  font-size: 15px;
  font-family: "Muli";
  margin-right: 2%;
}

.recomen-img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border: 2px dashed #ffffff;
  padding: 0.5%;
  border-radius: 50%;
}

.rcn-bulet {
  width: 13px;
  height: 13.5px;

  background-color: #ffffff;
  cursor: pointer;
  margin-bottom: 40%;
}
.recomen-user {
  display: flex;
  justify-content: space-around;
  align-items: center;

  display: none;
  opacity: 0;
  visibility: hidden;
  width: 0;
  transform: scale(0);
  transition: all 0.6s;
}
.recomen-p {
  width: 100%;
  font-size: 15px;
  font-family: "Muli";
  color: #ffffff;
}

.recomen-name {
  display: flex;
  flex-direction: column;
  width: 29%;
  align-items: flex-start;
  margin-left: 3%;
}

.recomen-quote {
  width: 39px;
  height: 26px;
  margin-bottom: 15%;
}
.recomen-h4 {
  width: 13px;
  color: #e93656;
}
.recomen-pp {
  font-size: 28px;
  font-family: "Glacial Indifference";
  color: #ffffff;
}

.recomen-user.appear {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.recomen-bulet {
  margin-right: 3%;
}
.rcn-bulet:hover {
  background-color: #e93656;
}

/* 6section */

.main-navbar {
  display: flex;
  justify-content: center;
}
.latest-projects-name {
  display: flex;
  justify-content: center;
}
.latest-projects-name-p {
  font-size: 70px;
  font-family: "Glacial Indifference";
}
.latest-projects-navbar {
  width: 240px;
  height: 401px;
  background-color: #15263e;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-a {
  color: #ffffff;
  font-size: 20px;
  font-family: "Glacial Indifference";
}
.nav-li {
  margin-bottom: 25%;
  cursor: pointer;
}
.navbar-info {
  background-color: #555555;
  width: 300.01px;
  height: 350px;
  position: relative;
}
.navbar-info-grey {
  width: 300.01px;
  height: 350px;
  background-color: #848484;
}
.navbar-grid {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.navbar-img {
  max-width: 300.01px;
  width: 100%;
  height: 350px;
  object-fit: cover;
}

/* .navbar-info {
  opacity: 0;
} */
.opaci {
  opacity: 0;
}

#idWork {
  cursor: pointer;
}
.navbar-hover {
  max-width: 300.01px;
  width: 100%;
  height: 350px;
  position: absolute;
  background-color: #000000;
  display: none;
  top: 0;
}

.navbar-info:hover .navbar-hover {
  background-color: #000000;
  opacity: 0.8;
  max-width: 300.01px;
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navbar-hover-h5 {
  color: #dddddd;
  font-size: 11px;
  font-family: "Muli";
  margin: 4%;
}
.navbar-hover-h2 {
  color: #ffffff;
  font-size: 23px;
  font-family: "Glacial Indifference";
}
.navbar-hover-img {
  max-width: 14px;
  width: 100%;
  height: 12px;
  object-fit: cover;
  margin: 4%;
}
/* .noneimg {
  opacity: 0;
} */

/* 7 section */

.Latest-articles-main-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
}

.Latest-articles-first-all-info {
  display: flex;
  justify-content: flex-end;
}
.Latest-articles-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4%;
  margin-top: 12%;
}
.Latest-articles-title-h5 {
  font-size: 13px;
  color: #2ed279;
  font-family: "Glacial Indifference";
}
.Latest-articles-title-h1 {
  font-size: 70px;
  font-family: "Glacial Indifference";
}
.Latest-articles-first-left-img {
  max-width: 600px;
  width: 100%;
  height: 590px;
  background-color: #fafafa;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.Latest-articles-smal-firs-img {
  max-width: 29px;
  width: 100%;
  height: 34px;
  object-fit: cover;
  background-color: #f0f0f0;
  margin-bottom: 4%;
}
.Latest-articles-first-left-h5 {
  font-size: 14px;
  font-family: "Muli";
  margin-bottom: 4%;
}
.Latest-articles-first-left-h2 {
  font-size: 40px;
  font-family: "Glacial Indifference";
  margin-bottom: 4%;
}
.Latest-articles-first-centry-img {
  max-width: 123px;
  width: 100%;
  height: 590px;
  background-color: #15263e;
  display: flex;
  align-items: center;
}
.Latest-articles-first-centry-num {
  color: #e93656;
  font-size: 30px;
  transform: rotate(270deg);
  font-family: "Glacial Indifference";
  font-size: 25px;
}
/* .Latest-articles-first-right-img {
  max-width: 950px;
  width: 100%;
  height: 590px;
} */

.Latest-articles-first-right-img-info {
  max-width: 550px;
  width: 100%;
  height: 590px;
  object-fit: cover;
}
.Latest-articles-first-left-p {
  max-width: 569px;
  width: 80%;
}

.ragacaaaaa {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.Latest-articles-second-all {
  display: flex;
}
.Latest-articles-second-right-img-info {
  max-width: 730px;
  width: 100%;
  height: 590px;
  object-fit: cover;
}
.Latest-articles-smal-second-img {
  max-width: 35px;
  width: 100%;
  height: 35px;
  object-fit: cover;
  margin-bottom: 5%;
}
.Latest-articles-second-right-img {
  background: #fafafa;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* 8sectiaaaa */
